body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: #dda15e;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*<editor-fold desc="Nav Bar Stuff">*/
.nav-link.active {
    transition: all 0.5s ease;
    animation: colorChange 2s infinite;
}

.nav-link.active:hover {
    transform: scale(0.9);
}

.nav-link.active:not(:hover) {
    transform: scale(1.1);
}

@keyframes colorChange {
    0% { color: red; }
    50% { color: white; }
    100% { color: red; }
}

#svgAvatar {
    height: 2%;
    width: 2%;
    margin: 0 auto;
}
/*</editor-fold>*/

/*<editor-fold desc="Messages">*/
#hello, #kiefersHotel {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5em;
    font-weight: bold;
    color:#fefefe;
    text-shadow:
            0 1px 0 #c0c0c0,
            0 2px 0 #b0b0b0,
            0 3px 0 #a0a0a0,
            0 4px 0 #909090,
            0 5px 10px rgba(0, 0, 0, 0.6);
    line-height: 3em;
    text-transform: uppercase;
}

#kiefersHotel {
    font-family: "Paytone One", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 11px 0 17px 0;
    font-size: 2em;
    color: #f1ebe5;
    letter-spacing: 0.2em;
}

@keyframes animate{
    0% {background-position:0;}
    100% {background-position:-1000px 0;}
}

#kiefersHotelMessage {
    font-family: 'Source Code Pro', monospace;
    color:#fff;
    font-size: 28px;
    transform-origin:center bottom;
    transform-style:preserve-3d;
    transition:all 1s;
    text-shadow:0 0 10px rgba(0,0,100,.5);
}
#kiefersHotelMessage:hover{
    transform:rotate3d(1,0,0,40deg);
}
/*</editor-fold>*/

/*<editor-fold desc="Table Stuff">*/
caption {
    color: #dda15e;
}

#hotelTableDiv {
    width: 50%;
    margin: 2em auto;
}

table caption {
    text-align: center;
}
/*</editor-fold>*/

footer {
    margin-top: auto;
}

@media (max-width: 1024px) {
    #svgAvatar {
        display: none;
    }

    .nav-link.active:not(:hover) {
        transform: none;
    }
}